@import url(./normal-button.css);
@import url(./outlined-button.css);
@import url(./text-button.css);

.button {
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 600;
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-3);
  cursor: pointer;
  transition: 50ms all ease-in-out;
  border-radius: var(--border-radius-1);
  min-height: 40px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
  overflow: hidden;
}
.button small, svg {
  z-index: 1;
}
@media(max-width: 768px) {
  .button{
    min-height: 32px;
    padding-block: var(--spacing-1);
    padding-inline: var(--spacing-2);
  }
}
.left-icon {
  flex-flow: row-reverse;
}
.right-icon {
  flex-flow: row;
}