.post {
  width: 100%;

  
  > header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--spacing-2);
    
    button {
      margin-right: 8px;
    }
    
    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span{
        display: flex;
        gap: 4px;
      }

      span:first-child {
        p:first-child {
          font-weight: bold;
        }
      }
    }
  }
  
  > figure {
    min-height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.200);
    border-radius: var(--border-radius-1);

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }

  > div {
    padding-block: var(--spacing-1);
    display: grid;
    grid-template-columns: repeat(14, 1fr);

    svg:last-child {
      grid-column-start: 14;
    }
  }

  > footer {
    display: flex;
    flex-direction: column;
    margin-block: var(--spacing-3);
    gap: var(--spacing-2);

    > p:nth-child(3){
      color: rgba(255, 255, 255, 0.600);
    }

    > div {
      display: flex;
      justify-content: space-between;
      color: rgba(255, 255, 255, 0.600);
    }
  }

  &::after {
    content: '';
    margin-top: var(--spacing-4);
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.200);
  }
}